
/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
    
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    position: sticky;
}
#nav-menu-container{
    width: 70rem;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF205F;
}

.badge.strategy {
    background-color: #4EAE60;
}

.badge.racing {
    background-color: #694EAE;
}

.badge.rpg,
.badge.adventure {
    background-color: #40ABF5;
}

.badge.tournaments {
    background-color: #FB6E10;
}

.badge.premium-tournament {
    background-color: #FFB320;
    color: #252525;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    background-color: #21bb9c;
    padding: 5px 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #21bb9c;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid white;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
    
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: white;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #ffffff;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}
/* end: header styles */

/* start: hero styles */
#hero-image {
    background: url('../../../assets/img/5WFSF32YAJEFTNYFFLQC7PGNG4.jpg') top center no-repeat;
    height: 720px;
    width: 100%;
}

.hero-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.hero-marketing-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

.hero-marketing-text span {
    color: #21bb9c;
}

.hero-marketing-text h5 {
    color: #eee;
    font-size: 0.85em;
    font-weight: 300;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.hero-marketing-text button {
    background-color: #21bb9c;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* end: hero styles */

/* start: latest news styles */
#latest-news {
    margin-bottom: 0.5rem;
}

#latest-news .flex {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

#latest-news .flex h5 {
    flex-basis: 25%;
    background-color: #21bb9c;
    padding: 25px;
    margin: 0;
    text-align: right;
    color: #eee;
    font-size: 1.2em;
}

#latest-news-container {
    background-color: #131313;
    position: relative;
    flex-basis: 75%;
    padding: 25px;
}

#latest-news-container .badge {
    margin-right: 20px;
}

#latest-news-container .latest-news-text {
    color: #eee;
}
/* end: latest news styles */

/* start: game types styles */
#game-types-boxes {
    margin-bottom: 75px;
}

#game-types-boxes .box {
    flex-basis: 25%;
    position: relative;
    height: 380px;
}

#game-types-boxes .box.new {
    background: url('https://onclickwebdesign.com/wp-content/uploads/wow_lady.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.strategy {
    background: url('https://onclickwebdesign.com/wp-content/uploads/robotic_ninja.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.rpg {
    background: url('https://onclickwebdesign.com/wp-content/uploads/jeep_armed.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.racing {
    background: url('https://onclickwebdesign.com/wp-content/uploads/sports_car.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box .badge {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
}

#game-types-boxes .box .contents {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    color: #eee;
    padding: 0 35px 0 25px;
}

#game-types-boxes .box .contents a {
    font-size: 0.8em;
    font-weight: 300;
    color: #999;
}
/* end: game types styles */

/* start: recent games styles */
#recent-games {
    background: url('../../../assets/img/patronfondo.png') top center no-repeat;
    background-color: #eef2f6;
    border-top: 1px solid #d6dee7;
    border-bottom: 1px solid #d6dee7;
    padding: 70px 0 120px;
}

#recent-games h1 {
    text-align: center;
}

#recent-games .box {
    position: relative;
    flex-basis: 31%;
    background-color: #fff;
}

#recent-games .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#recent-games .box img {
    width: 100%;
    height: 12rem;
}

#recent-games .box .box-lower-section {
    padding: 20px;
}

#recent-games .box .box-lower-section p {
    color: #999;
}

#recent-games .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}
/* end: recent games styles */

/* start: tournaments styles */
#tournaments {
    background: url('https://onclickwebdesign.com/wp-content/uploads/footer_bg_pattern.png') 0 0 repeat;
    padding: 125px 0 105px;
}

#tournaments .flex {
    position: relative;
}

#tournaments .badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#tournaments .badge.tournaments {
    top: -32px;
    left: 15px;
}

#tournaments .box {
    background-color: #252525;
    padding: 70px 20px 40px;
    flex-basis: 45%;
    position: relative;
}

#tournaments .box .tournaments-image {
    float: left;
    width: 30%;
}

#tournaments .box .tournaments-image img {
    width: 100%;
}

#tournaments .box .tournaments-content {
    float: left;
    margin-left: 25px;
    width: 60%;
}

#tournaments .box .tournaments-content h3 {
    color: #FFB320;
    margin-top: 0;
}

#tournaments .box .tournaments-content label {
    color: #999;
    font-size: 0.75em;
}

#tournaments .box .tournaments-content label.prizes {
    color: #FFB320;
    display: inline-block;
    margin-top: 12px;
}

#tournaments .box .tournaments-content strong {
    color: #eee;
    font-size: 0.75em;
}
/* end: tournaments styles */

/* start: recent reviews styles */
#recent-reviews {
    background: url('../../../assets/img/fondodoc.png') top right no-repeat;
    background-size: cover;
    padding: 75px 0 50px;
}

#recent-reviews h1 {
    text-align: center;
    margin-bottom: 1.65em;
}

#recent-reviews .box {
    flex-basis: 23%;
    position: relative;
    text-align: center;
}

#recent-reviews .box .rating-badge {
    border-radius: 28px;
    padding: 13px;
    font-size: 1.1em;
    color: #eee;
    font-weight: 600;
    background-color: #40ABF5;
    position: absolute;
    top: -12px;
    left: 30px;
}

#recent-reviews .box .rating-badge.purple {
    background-color: #694EAE;
}

#recent-reviews .box .rating-badge.green {
    background-color: #4EAE60;
}

#recent-reviews .box .rating-badge.violet {
    background-color: #FF20AE;
}

#recent-reviews .box .recent-reviews-image {
    margin-bottom: 0.50em;
    overflow: hidden;
}

#recent-reviews .box .recent-reviews-image img {
    width: 100%;
    height: 12rem;
}

#recent-reviews .box p {
    color: #999;
}
/* end: recent reviews styles */

/* start: posts/comments styles */
#posts-comments {
    background: url('https://onclickwebdesign.com/wp-content/uploads/footer_bg_pattern.png') 0 0 repeat;
    padding: 75px 0;
}

#posts-comments .game-warrior {
    flex-basis: 32%;
    position: relative;
}

#posts-comments .game-warrior p {
    color: #eee;
    font-weight: 600;
}

#posts-comments .game-warrior img {
    margin-bottom: 0.5em;
}

#posts-comments .game-warrior img.footer-graphic {
    position: absolute;
    margin-bottom: 0;
    width: 115%;
}

#posts-comments .posts-comments-box {
    flex-basis: 28%;
    background-color: #252525;
    padding: 20px 20px 25px;
    border: 1px solid #4a4a4a;
}

#posts-comments .posts-comments-box h3 {
    color: #eee;
}

.post-item {
    margin-top: 25px;
}

.post-item:first-child {
    margin-top: 0;
}

.post-item:after {
    content: "";
    display: table;
    clear: both;
}

.post-item img {
    float: left;
    width: 30%;
}

.post-item > div {
    float: left;
    margin-left: 5%;
    width: 65%;
}

.post-item > div h5 {
    color: #FFB320;
    font-size: 0.8em;
    margin-top: 0;
}

.post-item > div p {
    color: #eee;
    margin: 5px 0;
    font-size: 0.8em;
}

.post-item > div small {
    color: #999;
    font-size: 0.75em;
}

.comments-item {
    margin-top: 1em;
}

.comments-item:first-child {
    margin-top: 0;
}

.comments-item:after {
    content: "";
    display: table;
    clear: both;
}

.comments-item img {
    width: 23%;
    height: auto;
    border-radius: 50%;
    float: left;
}

.comments-item > div {
    float: left;
    margin-left: 7%;
    width: 70%;
}

.comments-item > div p {
    color: #eee;
    font-size: 0.8em;
    margin: 0 0 5px;
}

.comments-item > div p span {
    color: #999;
}

.comments-item > div p span.author {
    color: #E92159;
}

.comments-item > div h5 {
    color: #FFB320;
    font-size: 0.8em;
    margin-top: 0;
}
/* end: posts/comments styles */

/* start: footer styles */
footer {
    background-color: #252525;
    padding: 25px 0 20px;
}

footer small {
    color: #ddd;
    font-size: 0.9em;
}

footer small .footer-heart {
    font-size: 16px;
}

footer small a {
    color: #007BDC;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 12px;
}

footer ul li a {
    color: #ddd;
    font-size: 0.8em;
}
/* end: footer styles */

/* start: media queries */
@media (max-width: 1200px) {
    #nav-menu-container{
        width: 100%;
    }
    li.special {
        width: 100%; /* Este elemento <li> ocupar치 el 75% del ancho disponible */
      }
    .flex {
        max-width: 1000px;
    }

    .latest-news-item {
        font-size: 0.8em;
    }

    #tournaments .box .tournaments-content {
        margin-left: 15px;
    }

    #tournaments .box .tournaments-content h3 {
        font-size: 1.4em;
        margin-bottom: 0.2em;
    }
}

@media (max-width: 991px) {
    #nav-menu-container{
        width: 100%;
    }
    li.special {
        width: 100%; /* Este elemento <li> ocupar치 el 75% del ancho disponible */
      }
    .flex {
        max-width: 720px;
    }

    nav ul li {
        margin: 0 12px;
        font-size: 0.85em;
    }

    #latest-news .flex h5 {
        width: 15%;
    }

    #game-types-boxes .flex {
        flex-wrap: wrap;
    }

    #game-types-boxes .box {
        flex-basis: 50%;
    }

    #tournaments .box {
        flex-basis: 42%;
    }

    #tournaments .box .tournaments-image {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        height: 250px;
        overflow: hidden;
    }

    #tournaments .box .tournaments-content {
        margin-left: 0;
        width: 100%;
    }
    
    #recent-reviews {
        background: none;
    }

    #recent-reviews .flex {
        flex-wrap: wrap;
    }

    #recent-reviews .box {
        flex-basis: 48%;
        margin-bottom: 45px;
    }

    #posts-comments .flex {
        flex-wrap: wrap;
    }

    #posts-comments .game-warrior {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    #posts-comments .posts-comments-box {
        flex-basis: 43%;
    }

    #posts-comments .game-warrior img.footer-graphic {
        display: none;
    }

    footer .flex {
        flex-wrap: wrap-reverse;
    }

    footer small {
        flex-basis: 100%;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        line-height: 1.5;
    }

    footer ul {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }
} /* end 991px */

@media (max-width: 867px) {
     /*post a comment*/
     #posts-comments .posts-comments-box{
        display: none;
    }

    #posts-comments{
        display: none;
    }
    
    li.special {
        width: 100%; /* Este elemento <li> ocupar치 el 75% del ancho disponible */
      }
    h4 {
        font-size: 1.2em;
    }

    .flex {
        max-width: 540px;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 101%;
        width: 100%;
        background-color: #131313;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
    }

    nav ul li {
        
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #FFB320;
        margin: 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    .hamburger-menu {
        display: block;
        margin-top: 2px;
        margin-left: 0;
    }
    

    #hero-image {
        height: 650px;
        background-size: cover;
    }

    .hero-marketing-text {
        margin-top: -85px;
    }

    .hero-marketing-text h1 {
        font-size: 2.5em;
    }

    #latest-news .flex h5 {
        display: none;
    }

    #latest-news-container {
        flex-basis: 100%;
    }

    #recent-games {
        padding: 60px 0;
    }

    #game-types-boxes .box,
    #recent-games .box {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    #recent-games .flex,
    #tournaments .flex {
        flex-wrap: wrap;
    }

    #tournaments .box {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    #tournaments .box .tournaments-image {
        height: 400px;
    }

    #recent-reviews .box {
        flex-basis: 100%;
    }

    #recent-reviews .box .recent-reviews-image {
        height: 400px;
    }

    #posts-comments .posts-comments-box {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer ul li {
        margin: 0 10px;
    }

    footer ul li a {
        font-size: 0.75em;
    }
} /* end 767px */

@media (max-width: 400px) {
    .logo img {
        width: 150px;
        margin-top: 2px;
    }

    #login-register-button {
        padding: 10px;
        font-size: 0.65em;
    }

    #tournaments .box .tournaments-image {
        height: 220px;
    }
}
/* end: media queries */



/*btn enviar contacnto*/
#feedbackSubmit{
    text-align: center;
    background-color: #FFB320;
    color: #131313;
    float: right;
}
.control-label{
    color: #21bb9c;
}




/*movil*/
@media only screen and (max-width: 592px) {
    
    #latest-news{
        margin: 0;
    }
    #recent-games .box .box-lower-section h4 {
        font-size: 11px;
        color: #131313;
    }

    .tituloMas{
        font-size: 11px;
    }
    #feedbackForm{
        display: none;
    }
    #recent-reviews {
        background: url('../../../assets/img/fondodoc.png') top right no-repeat;
        background-size: cover;
        padding: 10px 0 10px;
    }
    #recent-reviews .box .rating-badge {
        border-radius: 35%;
        padding: 12px;
        font-size: 1.1em;
        color: #eee;
        font-weight: 600;
        background-color: #40ABF5;
        position: absolute;
        top: -15px;
        left: 80px;
    }
    #recent-reviews .box .recent-reviews-image img {
        width: 100%;
        height: 15rem;
    }
    #recent-reviews .box .recent-reviews-image {
        
        height: auto;
        font-size: 10pxs;
    }
    
    #recent-games .box span{
        font-size: 12px;
        float: right;
        margin-left: 40px;
        margin-top: -10px;
        
    }
    #recent-games h1{
        font-size: 20px;
        color: #131313;
        text-shadow: -6px -3px 31px rgba(52,205,172,1);
        color: #ddd;
        padding-bottom: 2vw;
    }
    #recent-games{
        padding: 2vw;
        margin: 0;
        background-color: #312f2f;
        background-image: none;
        color: white;
    }
    #recent-games .box {
        flex-basis: 32%;
        border-radius: 1vw;
    }
    
    #recent-games .box p {
        display: none;
        
    }
    #recent-games .box h4 {
        font-size: 7px;
        margin: 1vw;
        
    }
    #recent-games .box a {
        display: none;
        
    }
    #recent-games .box .box-lower-section{
        margin: 0 0 0 0;
        padding: 0;
        text-align: center;
    }


    /*Eventos*/
    #tournaments{
        margin: 0 0 0 0;
        padding: 8px;  
    }
    #tournaments .flex{
        margin-top: 0;
        
    }
    #tournaments .tournaments{
        align-items: center;
        margin-top: 40px;
        

    }
    #tournaments .badge {
        font-size: 10px;
        padding: 1vw;
        margin-left: 10px;      
        border-radius: 2vw;
        
    }
    #tournaments .premium-tournament{
        align-items: center;
        margin-left: 5px;
        margin-top: 35px;
        font-size: 7px;
    }
    #tournaments .box{
        border-radius: 2vw;
        flex-basis: 48%;
        padding: 55px 7px 0 7px;
        
    }
    #tournaments .box .tournaments-image img {
        width: 100%;
        height: 60px;
        border-radius: 1vw;
        margin: 0;
        padding: 0;
    }

    #tournaments .box .tournaments-image{
        margin: 0;
        padding: 0;
        height: 60px;
    }
    #tournaments .box .tournaments-content{
        margin: 0;
        padding: 0;
        font-size: 8px;
        width: 100%;
    }
    
    
    #tournaments .box .tournaments-content h3 {
        color: #FFB320;
        margin: 0;
    }
    
    #tournaments .box .tournaments-content label {
        color: #999;
        font-size: 0.75em;
        margin: 0;
    }
    
    #tournaments .box .tournaments-content label.prizes {
        color: #FFB320;
        display: inline-block;
        margin-top: 1px;
    }
    
    #tournaments .box .tournaments-content strong {
        color: #eee;
        font-size: 0.75em;
    }

    /*post a comment*/
    #posts-comments .posts-comments-box{
        display: none;
    }
    #posts-comments {
        padding: 0 0;
    }
    small{
        display: none;
    }

    li.special {
        width: 100%; /* Este elemento <li> ocupar치 el 75% del ancho disponible */
      }

    #nav-menu-container{
        width: 100%;
    }
}


.container.box img{
    width: 50rem;
    height: 10rem;
}

