body {
	background-image: linear-gradient(to top, transparent 60px, #fff 60px, #fff 0);
	font: 14pt 'Crimson Text';
	margin: 0;
}
html {
	background-color: #fff;
}
.main {
	padding: 0px;
	width: 90vw;
	max-width: 800px;
	margin: auto;
    margin-top: 100px;
    background: url(../../../../../assets/img/patronfondo.png);
    
    
}
.titulonota {
	color: dodgerblue;
}
.anonota{
    float: right;
}
.imgNota{
    width: 100%;
}

.VideoNotaCompleta{
    
}

.nextvideo2{
	background-color: rgb(226, 33, 33);
	border-radius: 1.5vw;
	
	color: #fff;
	font-size: 2.1vw;
	padding: 0.6vw;
	max-height: 50px;
	max-width: 120px;
	margin-right: 5px;
	width: 100px;
	float: right;
	transition: transform 0.3s;
}

.nextvideo2:hover{
	transform: scale(1.2);
}


