
.mySwiper{
    background-color: transparent;
}
.swiper-slide{
    background-color: transparent;
    
}

.swiper-slide-patrocinador img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffb30e;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin-left: 5px;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  

  
  .swiper-slide-header {
    
    width: 100px;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    opacity: 0.8;
   
  }
  
/*cards*/
.item-3 {
    position: relative;
    display: inline-block;
  }
  
  .item-3:hover .body-item {
    display: block;
  }
  
  .body-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 1vw;
    
  }
  
  /* Estilos adicionales para el contenido */
  .body-item-1,
  .title,
  .properties,
  .description,
  .icon-set {
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .properties span {
    margin-right: 10px;
  }
  
  .icon-set i {
    margin-right: 5px;
    cursor: pointer;
  }

  .swiper-slide-header{
    opacity: 1;
  }

  .description{
    font-size: 10px;
  }

  
  
  
  /*sectio*/
  .swiperHeader{
    padding: 20px;
    background-color: #ffb30e;
  }